.btn{
	transition: background-color 0.2s;
	box-sizing: border-box;
}
.rending{
	min-width: 280px;
    max-width: 100%;
	article{
		width: 100%;
		img{
			max-width: 768px;
			width: 100%;
			margin: 0 auto;
			display: block;
		}
		span{
			@include blind;
		}
	}
	.hide{
		visibility: hidden;
	}
	.btns{
		padding: 0 28px;
		box-sizing: border-box;
	}
	.btn{
		max-width: $max;
		width: 86.6%;
		margin: 0 auto;
		line-height: 66px;
		text-align: center;
		height: 66px;
		border-radius: 10px;
		color: $white;
		display: block;
		font-size: calcRem(20px);
		background: #501806;
		@include media{
			font-size: calcRem(16px);
		}
		&:active{
			background: #a00000;
			color:$white;
		}
	}
	.item1{
		background: rgb(240,240,242); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(240,240,242,1) 1%, rgba(240,240,242,1) 41%, rgba(240,240,242,1) 41%, rgba(223,224,226,1) 56%, rgba(223,224,226,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(240,240,242,1) 1%,rgba(240,240,242,1) 41%,rgba(240,240,242,1) 41%,rgba(223,224,226,1) 56%,rgba(223,224,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(240,240,242,1) 1%,rgba(240,240,242,1) 41%,rgba(240,240,242,1) 41%,rgba(223,224,226,1) 56%,rgba(223,224,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f2', endColorstr='#dfe0e2',GradientType=1 ); /* IE6-9 */
	}
	.item2{
		background: #EFCF94;
	}
	.item3{
		background: #F3EBE0;
	}
	.item4{
		@include bg("menuplus/rending/bg4.jpg", repeat, 50% 50%, auto 100%); 
	}
	.item5{
		background: #F3EBE0;
		margin-top: -1px;
	}
	.item6{
		background: #FFFCF7;
		padding-bottom: 40px;
		.btn{
			margin-top: 30px;
			&:active{
				background: #a00000;
			}
		}
	}
	.item7{
		background: #EFCF94;
	}
	.item8{
		background: #EFCF94;
		padding-bottom: 106px;
		.btn{
			background: #FFFAF0;
			color:#1A335B;
			margin: 15px auto 20px;
			&:active{
				background: #a00000;
				color:$white;
			}
		}
	}
	.btns.fix{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px 0;
		background: rgba(255,255,255, 0.5);
		backdrop-filter: blur(5px);
		.btn{
			background: #1A335B;
			&:active{
				background: #a00000;
				color:$white;
			}
		}
	}
}
.question, .question_result{
	background: #F5ECDC;
	width: 100%;
	height: 100%;
    word-break: keep-all;
	section{
		z-index: 1;
	}
	h1,h2,h3{
		font-weight: 100;
	}
	img{
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}
	body,.container{
		width: 100%;
		height: 100%;
	}
	.container{
		// max-width: $max;
		margin: 0 auto;
		position: relative;
	}
	.hide{
		visibility: hidden;
	}
	.btn {
		display: block;
		width: 100%;
		font-size: calcRem(19px);
		min-height: 60px;
		padding: 17px 10px;
		line-height: calcRem(25px);
		margin: 0 auto;
		box-sizing: border-box;
		background: $mp_point;
		color:$white;
		font-weight: $bold;
		border-radius: 4px;
		transition: all 0.2s;
		border:1px solid $mp_point;
		&:active{
			background: #E8B59A;
			color:$white;
			border:1px solid #E8B59A;
		}
		&.line{
			background: $white;
			color:$mp_point;
			border:1px solid $mp_point;
			&:active{
				background: #E8B59A;
				color:$white;
				border:1px solid #E8B59A;
			}
		}
	}
}
.question{
	.start{
		width: 100%;
		height: 100%;
		min-height: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-sizing: border-box;
		padding-bottom: 317px;
		position: relative;
		h1{
			width: 100%;
			font-size: calcRem(36px);
			line-height: calcRem(45px);
			position: relative;
			text-align: center;
			overflow: hidden;
			@include bg("menuplus/question/bg_start.jpg", no-repeat, 50% 0, auto 180px);
			@media (max-width: 768px) {
				background: none;
				&:before{
					transition: all 0.2s;
					content:"";
					@include setContent(90px,180px, block, absolute);
					@include bg("menuplus/question/bg_start1.png", no-repeat, 0 0, 100%);
					top:0;
					left: 0;
					@media (max-width: 400px) {
						left: -50px;
					}
				}
				&:after{
					transition: all 0.2s;
					content:"";
					@include setContent(90px,180px, block, absolute);
					@include bg("menuplus/question/bg_start2.png", no-repeat, 0 0, 100%);
					top:0;
					right: 0;
					@media (max-width: 400px) {
						right: -45px;
					}
				}
			}
		}
		.bx{
			max-width: $max;
			width: 86.6%;
			position: absolute;
			text-align: center;
			bottom: 60px;
			left: 50%;
			transform: translateX(-50%);
			#url{
				display: none;
			}
			.logo{
				width: 150px;
				display: inline-block;
				margin-bottom: 36px;
				img{
					width: 100%;
				}
			}
			.btns_sns{
				display: block;
				width: 100%;
				height: 60px;
				margin: 12px auto 0;
				border: 1px solid $mp_point;
				box-sizing: border-box;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
				.tit{
					text-align: left;
					font-size: calcRem(12px);
					line-height: 1.2;
					color: $mp_point;
					margin: 0 2.89%;
					padding-right: 2.89%;
					border-right: 1px solid $mp_point;
					flex-shrink: 0;
					strong{
						display: block;

					}
				}
				button{
					margin-right: 2.89%;
					width: 36px;
					img{
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
	.step{
		width: 86.6%;
		max-width: $max;
		height: 100%;
		margin: 0 auto;
		display: flex;
		box-sizing: border-box;
		justify-items: center;
		align-items: center;
		flex-direction: column;
		.top{
			width: 100%;
			text-align: center;
			.info{
				width: 100%;
				padding: 64px 0 24px;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between; 
				align-items: center;
				color: $mp_point;
				font-weight: $bold;
				font-size: calcRem(18px);
				.btn_home{
					background: #D1C0A8;
					border-radius: 25px;
					color: $white;
					padding: 5px 10px;
					font-size: calcRem(14px);
					&:active{
						background: $mp_point;
						color: $white;
					}
				}
			}
			.bx_bar{
				@include setContent(100%,4px, block, relative,#D1C0A8);
				.bar{
					@include setContent(100%,4px, block, absolute,$mp_point);
					transition: all 0.4s;
					&.fill1{
						width: 14.28%;
					}
					&.fill2{
						width: 28.56%;
					}
					&.fill3{
						width: 42.85%;
					}
					&.fill4{
						width: 57.12%;
					}
					&.fill5{
						width: 71.4%;
					}
					&.fill6{
						width: 85.68%;
					}
				}
			}
		}
		.cont{
			width: 100%;
			padding: 72px 0 64px;
		}
		.btn.line{
			margin-bottom: 16px;
			&:active{
				background: $mp_point;
				color: $white;
				border: 1px solid $mp_point;
			}
		}
		h2{
			text-align: center;
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 71px;
		}
		&.com{
			h2{
				width: 100%;
				text-align: center;
				font-size: 24px;
				line-height: 32px;
				padding-bottom: 246px;
				margin-bottom: 0;
				@include bg("menuplus/question/img_truck.jpg", no-repeat, 50% 100%, 246px); 
			}
			.cont{
				padding-bottom: 20px;
			}
			.btn{
				flex-shrink: 0;
				margin-bottom: 60px;
			}
		}
	}
}
.question_result{
	font-weight: 100;
	.container{
		max-width: 100%;
	}
	.btn+.btn{
		margin-top: 16px;
	}
	.best{
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
		.inner{
			width: 86.47%;
			margin: 42px auto 0;
			padding-top: 7px;
			background: #FFFBF8;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		h1,h2,h3,.desc, ul, .noti{
			width: 86.47%;
			margin: 0 auto;
			text-align: center;
		}
		h1{
			font-size: calcRem(24px);
			line-height: calcRem(32px);
		}
		h2{
			font-size: calcRem(30px);
			line-height: calcRem(32px);
			font-weight: $bold;
		}
		h3{
			font-size: calcRem(18px);
			line-height: calcRem(32px);
			margin: 25px auto 8px;
		}
		.desc{
			margin: 8px auto 12px;
			strong{
				margin-top: 40px;
				display: block;
			}
		}
		.tags{
			text-align: center;
			em{
				display: inline-block;
				margin: 0 2px;
				background: $mp_point;
				color:$white;
				border-radius: 25px;
				font-size: calcRem(14px);
				padding: 2px 11px;
			}
		}
		.unit{
			padding: 36px 0;
			position: relative;
			text-align: center;
			img{
				width: 100%;
				margin: 26px 0;
				display: block;
			}
			&+.unit{
				&:before{
					content: "";
					@include setContent(88.8%, 1px, block, absolute, #D1C3AD);
					top:0;
					left:50%;
					transform: translateX(-50%);
				font-size: calcRem(14px);
				}
				// 88.8%
			}
		}
		.menu_info{
			overflow: hidden;
			img{
				width: 100%;
				width: calc(100% + 2px);
			}
			h3{
				font-weight: $bold;
				margin-bottom: 26px;
				font-size: calcRem(24px);
				span{
					font-weight: 100;
					font-size: calcRem(18px);
					display: block;
				}
			}
			li{
				width: 100%;
				line-height: 1.25;
				display: flex;
				span{
					display: flex;
					align-items: center;
					width: 50%;
					padding: 6px 15px;
					box-sizing: border-box;
				}
				.name {
					text-align: right;
					justify-content: flex-end;
					@include bgSvg(fnDotted("rgb(209, 195, 173)"), no-repeat, 100% 0, auto 100%);
				}
				span{
					text-align: left;
				}
			}
			.star{
				em{
					@include setContent(16px, 16px,inline-block);
					@include blind;
					@include bgSvg(fnIcoStart("rgb(209, 195, 173)"), no-repeat, null, 100%);
					vertical-align: middle;
				}
				&.s1 {
					em:nth-child(1){
						@include bgSvg(fnIcoStart("rgb(253, 177, 55)"), no-repeat, null, 100%);
						
					}
				}
				&.s2 {
					em:nth-child(1), em:nth-child(2){
						@include bgSvg(fnIcoStart("rgb(253, 177, 55)"), no-repeat, null, 100%);
						
					}
				}
			}
			.noti{
				display: block;
				font-size: calcRem(12px);
				line-height: calcRem(18px);
				font-weight: normal;
				color: #501806;
				margin-top: 30px;
			}
		}
	}
	.bx_info{
		text-align: center;
		.unit{
			width: 86.47%;
			max-width: $max;
			margin: 0 auto;
			padding: 40px 0;
			&.bg{
				width: 100%;
				max-width: 100%;
				background: #FFF9EF;
				img{
					max-width: 664px;
					width: 100%;
					margin: 0 auto;
					display: block;
				}
			}
		}
		h1{
			font-size: calcRem(24px);
			line-height: calcRem(32px);
			margin-bottom: 24px;
			color: $mp_point;
			font-weight: $bold;
		}
		h3{
			margin: 40px auto 0;
			color: $mp_point;
			font-weight: $bold;
		}
		p{
			font-size: calcRem(20px);
			line-height: calcRem(32px);
		}
		.point{
			color: $mp_point;
		}
		.btns_sns{
			margin: 24px auto;
			button{
				margin: 0 6px;
			}
		}
	}
	.zero{
		h2{
			font-weight: 100;
			line-height: calcRem(40px);
			strong{
				display: block;
			}
			margin-bottom: 20px
		}
		.zero_point{
			position: relative;
			padding-top: 20px;
			&:before{
				content:"";
				@include setContent(48px, 1px, block, absolute, $black);
				top: 0;
				left: 50%;
				transform: translateX(-50%); 
			}
			strong{
				font-size: calcRem(72px);
				line-height: 1;
				display: block;
				color: $mp_point;
			}
			em{
				font-size: calcRem(24px);
				display: inline-block;
				background: $mp_point;
				color: $white;
				padding: 0px 10px;
				font-weight: $bold;
				border-radius: 10px;
				margin-bottom: 14px;
			}
		}
		.desc{
			margin-top: 24px;
			strong{
				margin-top: 0;
			}
		}
	}
}
.loading{
	@include setContent(100%, 100%, block, fixed, rgba(31, 31, 31, 0.75));
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	z-index: 10;
	opacity: 1;
	transition: all 0.4s;
	&.hide{
		display: block;
		visibility: hidden;
		overflow: hidden;
		z-index: -1;
		opacity: 0;
	}
	span{
		@include bg("loading.gif", no-repeat, 50% 0, 80px); 
		text-align: center;
		padding-top: 97px;
		display: block;
		position: absolute;
		width: 150px;
		font-size: 24px;
		line-height: 33px;
		color:$white;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}
}