@function calcRem($size) { /*Mobile용 믹스인*/
	$remSize: $size / $font;
	@return  #{$remSize}rem;
}

@function calcPercent($size, $defsize) { /*Mobile용 믹스인*/
	$remSize: $size / $defsize;
	@return percentage($remSize);
}

@mixin bg($fileNm:null, $repeat:no-repeat, $bgPos:0 0, $bgSize:null, $bgColor:null){
	background:$bgColor url($url + $fileNm + $version) $repeat $bgPos;
	@if $bgSize != null { 
		background-size:$bgSize;
	}
}
@mixin bgSvg($fc:null, $repeat:no-repeat, $bgPos:0 0, $bgSize:null, $bgColor:null){
	background:$bgColor $fc $repeat $bgPos;
	@if $bgSize != null {
		background-size:$bgSize;
	}
}
@mixin ellipsis($type:null,$num:2) {
	overflow:hidden;
	text-overflow:ellipsis;
	@if $type == multi {
		white-space: normal;
		word-wrap: break-word;
		display:-webkit-box;
		-webkit-line-clamp:$num;
		-webkit-box-orient:vertical;
	}@else{
		white-space:nowrap;
	}
}

@mixin clear($display:block){
	display: $display;
	clear: both;
	content: "";
}

@mixin media(){
	@media (max-width: 320px) {
		@content;
	}
}

@mixin setContent($width:auto, $height:auto, $display:null, $position:null,  $color:null) {
	width:$width;
	height:$height;
	display:$display;
	position:$position;
	background:$color;
}

@mixin blind {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -2000em;
}
@function fnIcoStart($color) {
	$url: "data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5031 5.35977L11.9375 4.69415L9.89689 0.556646C9.53127 -0.180854 8.47189 -0.190229 8.10314 0.556646L6.06252 4.69415L1.49689 5.35977C0.67814 5.47852 0.350015 6.4879 0.943765 7.06602L4.24689 10.2848L3.46564 14.8316C3.32502 15.6535 4.19064 16.2691 4.91564 15.8848L9.00002 13.7379L13.0844 15.8848C13.8094 16.266 14.675 15.6535 14.5344 14.8316L13.7531 10.2848L17.0563 7.06602C17.65 6.4879 17.3219 5.47852 16.5031 5.35977Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
	@return url($url);
}
@function fnDotted($color) {
	$url: "data:image/svg+xml,%3Csvg width='1' height='182' viewBox='0 0 1 182' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-2.36904e-05 2L-2.40803e-05 0L0.999984 0L0.999976 2L-2.36904e-05 2ZM-2.38642e-05 6L-2.37773e-05 4L0.999976 4L0.999976 6L-2.38642e-05 6ZM-2.40381e-05 10L-2.39512e-05 8L0.999976 8L0.999976 10L-2.40381e-05 10ZM-2.4212e-05 14L-2.4125e-05 12L0.999976 12L0.999976 14L-2.4212e-05 14ZM-2.43858e-05 18L-2.42989e-05 16L0.999976 16L0.999976 18L-2.43858e-05 18ZM-2.45597e-05 22L-2.44728e-05 20L0.999976 20L0.999975 22L-2.45597e-05 22ZM-2.47336e-05 26L-2.46467e-05 24L0.999975 24L0.999975 26L-2.47336e-05 26ZM-2.49075e-05 30L-2.48205e-05 28L0.999975 28L0.999975 30L-2.49075e-05 30ZM-2.50813e-05 34L-2.49944e-05 32L0.999975 32L0.999975 34L-2.50813e-05 34ZM-2.52552e-05 38L-2.51683e-05 36L0.999975 36L0.999975 38L-2.52552e-05 38ZM-2.54291e-05 42L-2.53421e-05 40L0.999975 40L0.999975 42L-2.54291e-05 42ZM-2.56029e-05 46L-2.5516e-05 44L0.999975 44L0.999974 46L-2.56029e-05 46ZM-2.57768e-05 50L-2.56899e-05 48L0.999974 48L0.999974 50L-2.57768e-05 50ZM-2.59507e-05 54L-2.58637e-05 52L0.999974 52L0.999974 54L-2.59507e-05 54ZM-2.61245e-05 58L-2.60376e-05 56L0.999974 56L0.999974 58L-2.61245e-05 58ZM-2.62984e-05 62L-2.62115e-05 60L0.999974 60L0.999974 62L-2.62984e-05 62ZM-2.64723e-05 66L-2.63853e-05 64L0.999974 64L0.999974 66L-2.64723e-05 66ZM-2.66461e-05 70L-2.65592e-05 68L0.999973 68L0.999973 70L-2.66461e-05 70ZM-2.682e-05 74L-2.67331e-05 72L0.999973 72L0.999973 74L-2.682e-05 74ZM-2.69939e-05 78L-2.69069e-05 76L0.999973 76L0.999973 78L-2.69939e-05 78ZM-2.71677e-05 82L-2.70808e-05 80L0.999973 80L0.999973 82L-2.71677e-05 82ZM-2.73416e-05 86L-2.72547e-05 84L0.999973 84L0.999973 86L-2.73416e-05 86ZM-2.75155e-05 90L-2.74286e-05 88L0.999973 88L0.999973 90L-2.75155e-05 90ZM-2.76894e-05 94L-2.76024e-05 92L0.999972 92L0.999972 94L-2.76894e-05 94ZM-2.78632e-05 98L-2.77763e-05 96L0.999972 96L0.999972 98L-2.78632e-05 98ZM-2.80371e-05 102L-2.79502e-05 100L0.999972 100L0.999972 102L-2.80371e-05 102ZM-2.8211e-05 106L-2.8124e-05 104L0.999972 104L0.999972 106L-2.8211e-05 106ZM-2.83848e-05 110L-2.82979e-05 108L0.999972 108L0.999972 110L-2.83848e-05 110ZM-2.85587e-05 114L-2.84718e-05 112L0.999972 112L0.999971 114L-2.85587e-05 114ZM-2.87326e-05 118L-2.86456e-05 116L0.999971 116L0.999971 118L-2.87326e-05 118ZM-2.89064e-05 122L-2.88195e-05 120L0.999971 120L0.999971 122L-2.89064e-05 122ZM-2.90803e-05 126L-2.89934e-05 124L0.999971 124L0.999971 126L-2.90803e-05 126ZM-2.92542e-05 130L-2.91672e-05 128L0.999971 128L0.999971 130L-2.92542e-05 130ZM-2.9428e-05 134L-2.93411e-05 132L0.999971 132L0.999971 134L-2.9428e-05 134ZM-2.96019e-05 138L-2.9515e-05 136L0.999971 136L0.99997 138L-2.96019e-05 138ZM-2.97758e-05 142L-2.96888e-05 140L0.99997 140L0.99997 142L-2.97758e-05 142ZM-2.99496e-05 146L-2.98627e-05 144L0.99997 144L0.99997 146L-2.99496e-05 146ZM-3.01235e-05 150L-3.00366e-05 148L0.99997 148L0.99997 150L-3.01235e-05 150ZM-3.02974e-05 154L-3.02105e-05 152L0.99997 152L0.99997 154L-3.02974e-05 154ZM-3.04713e-05 158L-3.03843e-05 156L0.99997 156L0.99997 158L-3.04713e-05 158ZM-3.06451e-05 162L-3.05582e-05 160L0.999969 160L0.999969 162L-3.06451e-05 162ZM-3.0819e-05 166L-3.07321e-05 164L0.999969 164L0.999969 166L-3.0819e-05 166ZM-3.09929e-05 170L-3.09059e-05 168L0.999969 168L0.999969 170L-3.09929e-05 170ZM-3.11667e-05 174L-3.10798e-05 172L0.999969 172L0.999969 174L-3.11667e-05 174ZM-3.13406e-05 178L-3.12537e-05 176L0.999969 176L0.999969 178L-3.13406e-05 178ZM-7.91103e-06 182L-3.14275e-05 180L0.999969 180L0.999992 182L-7.91103e-06 182Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
	@return url($url);
}